fastapi
uvicorn[standard]
vosk
websockets
soundfile
sentence-transformers
scikit-learn
gTTS
python-dotenv
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain_groq
faiss-cpu
